{% extends "layout.html" %}

{% block content %}

<form action="" class="time" method="post">
    <div class="input-group input-group mb-3">
        {% csrf_token %}
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing">Dia e Hora</span>
        </div>
        <select name="inputDia" class="form-control">
            <option selected>Hoje</option>
            <option>Amanhã</option>
            <option>Daqui a 2 dias</option>
            <option>Daqui a 3 dias</option>
            <option>Daqui a 4 dias</option>
            <option>Daqui a 5 dias</option>
        </select>
        <select name="inputHora" class="form-control">
            <option selected>00:00 - 03:00</option>
            <option>03:00 - 06:00</option>
            <option>06:00 - 09:00</option>
            <option>09:00 - 12:00</option>
            <option>12:00 - 15:00</option>
            <option>15:00 - 18:00</option>
            <option>18:00 - 21:00</option>
            <option>21:00 - 00:00</option>
        </select>
        <div class="input-group-append">
            <input class="btn btn-outline-dark" type="submit" value="Escolher Dia e Hora">
        </div>
    </div>
</form>
    <br><br>
{% load static %}

<div class="row">
    <div class="col-md">
        <h2>
        {{ location }} | Dia {{ temp_dia }} das {{ temp_inicio }}:00 às {{ temp_fim }}:00</h2>
        {{ content | safe }}
    </div>
</div>

{% endblock %}
