{% extends "layout.html" %}

{% block content %}

<form action="" class="find-location" method="post">
    <div class="input-group input-group mb-3">
        {% csrf_token %}
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing">Localização</span>
        </div>
        <input type="text" class="form-control" name="local" placeholder="Procurar localização...">
        <div class="input-group-append">
            <input class="btn btn-outline-dark" type="submit" value="Procurar">
        </div>
    </div>
</form>
    <br><br>
{% load static %}

<div class="row">
    <div class="col-md-4">
        <h2>{{ location }}</h2>
        {% if symbol == "01d" %}<img src="{% static 'img/01d.png' %}">
            {% elif symbol == "01n" %}<img src="{% static 'img/01n.png' %}">
            {% elif symbol == "02d" %}<img src="{% static 'img/02d.png' %}">
            {% elif symbol == "02n" %}<img src="{% static 'img/02n.png' %}">
            {% elif symbol == "03d" %}<img src="{% static 'img/03d.png' %}">
            {% elif symbol == "03n" %}<img src="{% static 'img/03n.png' %}">
            {% elif symbol == "04d" %}<img src="{% static 'img/04d.png' %}">
            {% elif symbol == "04n" %}<img src="{% static 'img/04n.png' %}">
            {% elif symbol == "09d" %}<img src="{% static 'img/09d.png' %}">
            {% elif symbol == "09n" %}<img src="{% static 'img/09n.png' %}">
            {% elif symbol == "10d" %}<img src="{% static 'img/10d.png' %}">
            {% elif symbol == "10n" %}<img src="{% static 'img/10n.png' %}">
            {% elif symbol == "11d" %}<img src="{% static 'img/11d.png' %}">
            {% elif symbol == "11n" %}<img src="{% static 'img/11n.png' %}">
            {% elif symbol == "13d" %}<img src="{% static 'img/13d.png' %}">
            {% elif symbol == "13n" %}<img src="{% static 'img/13n.png' %}">
            {% elif symbol == "50d" %}<img src="{% static 'img/50d.png' %}">
            {% elif symbol == "50n" %}<img src="{% static 'img/50n.png' %}">
        {% endif %}
        <table class="table">
            <tbody>
                <tr>
                  <th scope="row">Precipitação</th>
                  <td>{{ precipitation }} %</td>
                </tr>
                <tr>
                  <th scope="row">Direção Vento</th>
                  <td>{{ windDirection }}</td>
                </tr>
                <tr>
                  <th scope="row">Velocidade Vento</th>
                  <td>{{ windSpeed }} m/s</td>
                </tr>
                <tr>
                  <th scope="row">Temperatura</th>
                  <td>{{ temperature }}°C</td>
                </tr>
                <tr>
                  <th scope="row">Feels like</th>
                  <td>{{ feels_like }}°C</td>
                </tr>
                <tr>
                  <th scope="row">Pressão</th>
                  <td>{{ pressure }} hPa</td>
                </tr>
                <tr>
                  <th scope="row">Humidade</th>
                  <td>{{ humidity }} %</td>
                </tr>
                <tr>
                  <th scope="row">Nuvens</th>
                  <td>{{ clouds }}</td>
                </tr>
                <tr>
                  <th scope="row">Visibilidade</th>
                  <td>{{ visibility }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
