{% extends "layout.html" %}
{% load static %}
{% block content %}
    <style>
        body {
            background-size: cover;
            padding: 70px;
            background-image: url('{% static 'img/ua_sunset.jpg' %}');
        }
        footer {
            color: white
        }
        hr {
            background-color: white
        }
    </style>

    <div class="row row-cols-2 row-cols-md-2">
        <div class="col mb-4">
            {{ content_aveiro | safe }}
            {{ content_lisboa | safe }}
        </div>
        <div class="col mb-4">
            {{ content_porto | safe }}
            {{ content_coimbra | safe }}
        </div>
    </div>

{% endblock %}